table,
.overflow-x {
  box-shadow: var(--border) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: var(--bg);
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.overflow-x {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.table-container {
  width: 100%;
}

tr th:first-child {
  text-align: start;
}

tr td:first-of-type,
tr th:first-of-type {
  padding-right: 1rem;
}

th,
td {
  padding: 8px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

td:hover {
  background-color: var(--active);
}

th {
  font-weight: 700;
}

.courseID {
  cursor: pointer;
  transition: 0.3s;
}

.courseID:hover {
  color: var(--wave2);
  background-color: var(--active);
}

.passed span,
.failed span {
  padding-inline: 15px;
  border-radius: 10rem;
}

.buttons button {
  text-align: start;
  margin-left: auto;
}

.buttons button:first-child {
  color: var(--wave4);
}

.buttons button:last-child {
  color: var(--wave6);
}

.spinner {
  min-height: 90dvh;
}

.spinner ::ng-deep circle {
  stroke: var(--wave2);
}
