<div class="overflow-x">
  <div class="table-container">
    <table mat-table [dataSource]="course" class="mat-elevation-z8">
      <!-- Course Column -->
      <ng-container matColumnDef="Course">
        <th mat-header-cell *matHeaderCellDef> الكورس </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-2">
            <img src={{element.image}} alt="course-image" width="50" height="50" class="rounded-5" />
            <span> {{element.course}}</span>
          </div>
        </td>
      </ng-container>

      <!-- Row definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
