<div class="d-flex align-items-start parent container gap-4">
  <div class="flex filter-container gap-2 flex-wrap">
    <mat-accordion class="flex">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            اسم المدرس
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="example-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label>اسم المدرس</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="" [(ngModel)]="searchTerm" class="mt-1 icon"
              [ngModelOptions]="{ standalone: true }" (input)="filterTeachers()">
          </mat-form-field>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="flex">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            المادة
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" class="flex flex-column sub-radio" [(ngModel)]="subject"
          (change)="filterTeachers()">
          <mat-radio-button value="all" color="accent">All</mat-radio-button>
          <mat-radio-button *ngFor="let subject of extractUniqueSubjects(teachers)" [value]="subject" color="accent">
            {{ subject }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <div class="flex flex-wrap gap-3">
      <ng-container *ngFor="let teacher of filteredPaginatedTeachers">
        <app-teacher-card [teacher]="teacher"></app-teacher-card>
      </ng-container>
    </div>
    <app-custom-pagination [length]="filteredTeachers.length"
      (pageChanged)="onPageChange($event)"></app-custom-pagination>
  </div>
</div>
