<mat-sidenav-container class="example-container" *ngIf="!hideHeader">
  <!-- Side nav goes here -->
  <mat-sidenav #sidenav [opened]="isShowing" fixedTopGap="56" position="end"
    [@openClose]="isShowing ? 'open' : 'closed'">
    <!-- Side nav content -->
    <div class="flex">
      <div style="flex-grow: 1;"></div>
      <button class="close-btn toggle-btn" mat-icon-button (click)="toggleRightSidenav()" style="color: red;">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div style="padding-top:1rem;" class="side-btns">
      <button mat-button routerLink="/home" routerLinkActive="active">الرئيسية</button>
      <button mat-button routerLink="/courses" routerLinkActive="active">الكورسات</button>
      <!-- <button mat-button routerLink="/offers">العروض</button> -->
      <button mat-button routerLink="/teachers" routerLinkActive="active">المدرسين</button>
      <button mat-button routerLink="/about" routerLinkActive="active">عن المنصة</button>
      <!-- <button mat-button routerLink="/exams">امتحانات عامة</button> -->
      <button mat-button routerLink="/parents" routerLinkActive="active">ولي الأمر</button>
    </div>
    <hr>
    <div *ngIf="!(userData && userExist())" class="flex gap-2">
      <button mat-button routerLink="/login" style="border-radius: 20rem;">
        <div class="flex">
          <i class="fa-regular fa-circle-user"></i>
          &#160;
          تسجيل الدخول
        </div>
      </button>
      <button mat-button routerLink="/signup" class="custom-button btn-gradient">اشترك الأن</button>
    </div>
  </mat-sidenav>

  <!-- Header -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <header class="container-fluid flex justify-content-between">
        <div>Logo</div>
        <div></div>

        <div class="nav-items flex gap-1">
          <button #button1 routerLink="/home" color="title" class="unset-button" routerLinkActive="active"
            (click)="moveMarker(button1)">الرئيسية</button>
          <button #button2 routerLink="/courses" class="unset-button" routerLinkActive="active"
            (click)="moveMarker(button2)">الكورسات</button>
          <!-- <button  routerLink="/offers">العروض</button> -->
          <button #button3 class="unset-button" routerLink="/teachers" routerLinkActive="active"
            (click)="moveMarker(button3)">المدرسين</button>
          <button #button4 routerLink="/about" class="unset-button" routerLinkActive="active"
            (click)="moveMarker(button4)">عن
            المنصة</button>
          <!-- <button  routerLink="/exams">امتحانات عامة</button> -->
          <button #button5 routerLink="/parents" class="unset-button" routerLinkActive="active"
            (click)="moveMarker(button5)">ولي
            الأمر</button>
          <div id="marker"></div>
        </div>

        <div class="flex" style="gap: 5px;">
          <label>
            <input #toggleCheckbox class='toggle-checkbox' type='checkbox' [formControl]="theme"
              [checked]="theme.value" />
            <div class='toggle-slot'>
              <div class='sun-icon-wrapper'>
                <i class="fa fa-sun sun-icon"></i>
              </div>
              <div class='toggle-button'></div>
              <div class='moon-icon-wrapper'>
                <i class="fa fa-moon moon-icon"></i>
              </div>
            </div>
          </label>

          <button *ngIf="!(userData && userExist())" mat-button routerLink="/login" class="disk"
            style="border-radius: 20rem;">
            <div class="flex">
              <i class="fa-regular fa-circle-user"></i>
              &#160;
              تسجيل الدخول
            </div>
          </button>

          <button *ngIf="!(userData && userExist())" mat-button routerLink="/signup"
            class="custom-button disk btn-gradient">طالب
            جديد</button>

          <button mat-icon-button aria-label="Toggle Right Sidebar" class="menu-btn toggle-btn"
            (click)="toggleRightSidenav()">
            <mat-icon>menu</mat-icon>
          </button>

          <div *ngIf="userData && userExist()" class="nav-item dropdown" matDropdown>
            <button mat-button
              class="nav-link dropdown-toggle rounded-5 {{ role === 'Student' ? 'py-3 px-3' : 'py-4' }}"
              [matMenuTriggerFor]="menu">
              <img [src]="userData.profilePhoto" alt="profile" class="rounded-5 profile" width="40" height="40"
                *ngIf="role === 'Teacher'">
              <span class="mx-1"> {{userData.firstName}} {{userData.lastName}}</span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item
                [routerLink]="role === 'Student' ? ['/student/profile', userData.id] : userData.status === 'Approved' ? ['/teacher/profile', userData.id] : ['/teacher/pending', userData.id]"
                style="direction: rtl;">
                <i class="fa-regular fa-circle-user px-2"></i>
                الملف الشخصي
              </button>
              <button mat-menu-item class="text-danger" style="direction: rtl;" (click)="openSignOutDialog()">
                <i class="fa fa-sign-out-alt px-2"></i>
                تسجيل الخروج
              </button>
            </mat-menu>
          </div>
        </div>
      </header>
    </mat-toolbar>
  </mat-sidenav-content>


</mat-sidenav-container>

<div class="overlay" [class.active]="isShowing" (click)="toggleRightSidenav()"></div>

<ngx-loading-bar [color]="'var(--btn)'" [height]="'3px'" [includeSpinner]="false"
  [value]="(loader.value$ | async) ?? 0"></ngx-loading-bar>

<!-- <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg"
  class="transition duration-300 ease-in-out delay-150">
  <path
    d="M 0,400 L 0,150 C 143.46428571428572,124.71428571428572 286.92857142857144,99.42857142857143 417,106 C 547.0714285714286,112.57142857142857 663.75,151.00000000000003 765,174 C 866.25,196.99999999999997 952.0714285714284,204.57142857142858 1062,198 C 1171.9285714285716,191.42857142857142 1305.9642857142858,170.71428571428572 1440,150 L 1440,400 L 0,400 Z"
    stroke="none" stroke-width="0" fill="#2d2d2d" fill-opacity="1"
    class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path>
</svg> -->
