/* svg {
  position: absolute;
  margin-top: 0;
  z-index: -1;
  top: -17rem;
} */

mat-sidenav-container {
  position: relative;
  z-index: 11;
  /* margin-bottom: 10rem; */
  margin-bottom: 5rem;
}

mat-sidenav {
  position: fixed;
  border-left: 1px solid var(--border);
  background-color: var(--bg);
  right: 0;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  min-width: 230px;
}

mat-toolbar {
  justify-content: space-between;
  box-shadow: var(--border) 0px 4px 10px -10px;
  /* box-shadow: var(--border) 0px 1px 1px 0px; */
  position: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid var(--border);
}

mat-toolbar button {
  font-size: 14px;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  position: relative;
  /* width: 120px; */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay.active {
  display: block;
}

.unset-button {
  all: unset;
  cursor: pointer;
  padding: 10px;
  transition: 0.3s;
}

.unset-button.active {
  color: red var(--bgHeader) !important;
}

.unset-button:hover {
  color: var(--wave2);
}

/* mat-toolbar button.active { */
/* background-image: var(--btn); */
/* color: white; */
/* } */

#marker {
  position: absolute;
  bottom: 0;
  height: 100%;
  border-bottom: 3px solid var(--wave2);
  width: 60px;
  background: linear-gradient(0deg, var(--wave2Shadow), transparent);
  transition: 0.5s;
  filter: drop-shadow(0 5px 25px var(--wave2));
  pointer-events: none;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-checkbox:checked + .toggle-slot .moon-icon {
  color: #fff;
}

.toggle-slot {
  position: relative;
  height: 1.875em;
  width: 4em;
  border: 2px solid #e4e7ec;
  border-radius: 2em;
  background-color: white;
  box-shadow: 0px 2px 5px #e4e7ec;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translateX(-0.25em);
  position: absolute;
  height: 1.3em;
  width: 1.3em;
  top: 0.2rem;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.15em #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.86, 0.91);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.1em white;
  transform: translateX(-2.25em);
}

.sun-icon {
  position: absolute;
  color: #ffbb52;
  left: -5rem;
  top: 1.65rem;
}

.sun-icon-wrapper {
  position: absolute;
  opacity: 1;
  transform: translate(2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  color: white;
  right: 12.25rem;
  top: -2.95rem;
}

.moon-icon-wrapper {
  position: absolute;
  opacity: 0;
  transform: translate(11em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em) rotate(-15deg);
}

.toggle-button {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fa-circle-user {
  font-size: 1.25rem;
}

mat-toolbar button.custom-button,
mat-sidenav button.custom-button {
  border-radius: 20rem;
  padding-inline: 1rem;
}

.side-nav {
  position: absolute;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  padding-top: 5rem;
  width: 20rem;
}

.profile {
  border: 1px solid var(--border);
  padding: 1px;
  box-shadow: var(--wave2) 0px 0px 0px 3px inset;
  transition: 0.3s;
}

.profile:hover {
  box-shadow: var(--wave1) 0px 0px 0px 3px inset;
}

/* .dropdown-toggle::after {
  display: none;
} */

mat-sidenav button {
  border-radius: 0.5rem;
  font-weight: 500;
}

.side-btns button {
  width: 100%;
  text-align: right;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    var(--bgHeader),
    rgba(0, 0, 0, 0)
  );
}

@media (max-width: 920px) {
  .nav-items,
  .disk {
    display: none;
  }
  .container {
    height: 100%;
  }

  .mat-sidenav {
    padding: 16px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .mat-sidenav.open {
    transform: translateX(0);
  }

  .mat-sidenav button {
    display: block;
    margin-bottom: 8px;
    transition: opacity 0.3s ease-in-out;
  }

  .main-content {
    padding: 16px;
  }
}

@media (min-width: 920px) {
  .menu-btn {
    display: none;
  }
}
