<a [routerLink]="['/course', course.id]" class="card-link">
  <mat-card class="example-card" (mousemove)="handleMouseMove($event)" (mouseleave)="handleMouseLeave($event)">
    <img mat-card-image [src]="course.imageUrl" alt="Sample Image">
    <div class="label">
      <p>{{ course.subject }}</p>
    </div>
    <div class="top-bottom-container">
      <div class="top flex flex-column gap-2 profile">
        <img class="rounded-picture" [src]="course.profilePictureUrl" alt="Profile Picture">
        <span class="name">{{ course.teacher }}</span>
      </div>
      <div class="bottom">
        <h6 class="description">{{ course.description }}</h6>
        <div class="flex justify-content-between">
          <div class="flex gap-2">
            <img src="assets/image/boy.5g.svg" alt="boy">
            <span class="category mt-0">{{ course.grade }}</span>
          </div>
          <div class="flex gap-2">
            <img src="assets/image/money.svg" alt="boy">
            <span class="price mt-0">{{ course.price }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</a>
