<section class="container">
  <div class="row">
    <div class="col-lg-12 mb-4 mb-sm-5 flex justify-content-between">
      <div class="card card-style1 border-0">
        <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
          <div class="row align-items-center">
            <div class="mb-4 mb-lg-0">
              <h3>جاري مراجعة بياناتك....</h3>
              <h3>{{teacherData.accountNote}}</h3>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
              <img [src]="selectedImage" alt="..." id="avatarImage" style="max-width: 400px; max-height: 450px;">
              <input type="file" #uploadInput style="display: none;" accept="image/*" (change)="previewImage($event)">
              <button type="button" (click)="openFileInput()" style="color: rgba(205, 134, 63, 0.584) !important;">تحديد صورة شخصية </button>
            </div>
            <div class="col-lg-6 px-xl-10">
              <div class="custom-button disk btn-gradient d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded-3">
                <h3 class="h2 text-white mb-0"> {{teacherData.firstName}} </h3>
                <span class="text-primary">مدرس</span>
              </div>
              <ul class="list-unstyled mb-1-9 p-0" dir="rtl">
                <span class=" display-26 text-secondary me-2 font-weight-600 " style="color: rgba(205, 134, 63, 0.584) !important;">الايميل: <li
                 style="color: black; font-size: 18px;"
                  class="me-3 mb-2 mb-xl-3 display-28"> {{teacherData.email}}</li>
                </span>

                <span class="display-26 text-secondary me-2 font-weight-600" style="color: rgba(205, 134, 63, 0.584) !important;">العنوان: <li
                    [attr.contenteditable]="edittext1?'false':'true' "
                    [style.background-color]="edittext1 ? 'transparent':'#ccc'" style="color: black; font-size: 18px;"
                    class="me-3 mb-2 mb-xl-3 display-28"> {{teacherData.address}}</li></span>
                <!-- <span class="display-26 text-secondary me-2 font-weight-600">الخبرة: <li
                    [attr.contenteditable]="edittext1?'false':'true' "
                    [style.background-color]="edittext1 ? 'transparent':'#ccc'" style="color: black; font-size: 18px;"
                    class="me-3 mb-2 mb-xl-3 display-28"> 5 سنوات تعليم حكومي</li></span> -->
                <span class="display-26 text-secondary me-2 font-weight-600" style="color: rgba(205, 134, 63, 0.584) !important;">المادة التعليمية: <li
                    [attr.contenteditable]="edittext1?'false':'true' "
                    [style.background-color]="edittext1 ? 'transparent':'#ccc'" style="color: black; font-size: 18px;"
                    class="me-3 mb-2 mb-xl-3 display-28"> {{teacherData.subject}} </li></span>
               
                <span class="display-26 text-secondary me-2 font-weight-600"style="color: rgba(205, 134, 63, 0.584) !important;">رقم الهاتف: <li
                    [attr.contenteditable]="edittext1?'false':'true' "
                    [style.background-color]="edittext1 ? 'transparent':'#ccc'" style="color: black; font-size: 18px;"
                    class="me-3 mb-2 mb-xl-3 display-28"> {{teacherData.phoneNumber}}</li></span>
              </ul>
              <button (click)="toggleEditp()" *ngIf="edittext1" class="custom-button disk btn-gradient p-2" style="border-radius: 10px;"> تعديل البيانات</button>
              <button (click)="toggleEditp()" *ngIf="!edittext1" class="custom-button disk btn-gradient p-2" style="border-radius: 10px;">حفظ البيانات</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-4 mb-sm-5">
      <div>
        <span class="section-title text-primary mb-3 mb-sm-4">نبذة عن المعلم </span>
        <p [attr.contenteditable]="edittext ? 'false' : 'true'"
        [style.background-color]="edittext ? 'transparent' : '#ccc'" 
        #teacherHintValue>{{teacherData.aboutMe}}
     </p>
      </div>
      <button (click)="toggleEdit()" *ngIf="edittext" class="custom-button disk btn-gradient p-2" style="border-radius: 10px;">تعديل</button>
      <button (click)="toggleEdit(); saveupdate((teacherHintValue?.textContent ?? ''))" *ngIf="!edittext"
        class="custom-button disk btn-gradient p-2" style="border-radius: 10px;">حفظ</button>
    </div>
    <!-- <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12 mb-4 mb-sm-5">
          <div dir="rtl">
            <span class="section-title text-primary mb-3 mb-sm-4">الخبرة العملية</span><br>
            <mat-form-field appearance="outline" style="min-width: 400px;">
              <mat-icon matPrefix>question_answer</mat-icon>
              <textarea required matInput [attr.contenteditable]="edittext2?'false':'true'"
                style="width:100%;height:100%;"></textarea>
            </mat-form-field>

          </div>
          <button (click)="toggleEdit2()" *ngIf="edittext2" class="btn btn-outline-primary">حفظ</button>
          <button (click)="toggleEdit2()" *ngIf="!edittext2" class="btn btn-outline-warning">تعديل</button>
        </div>
      </div>
    </div> -->
  </div>
</section>
