<div class="form-container col-lg-10" dir="rtl">
  <form class="form-floating p-4" action="" method="" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <h3 class="text-second mb-4 text-center" style="color: orange; font-weight: 700;">اعدادت الحساب</h3>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>الأسم ثلاثي باللغة العربية (كما هو بالبطاقه)</mat-label>
      <input matInput type="text" name="fullName" formControlName="fullName" id="fullName"
        aria-label="رقم تليفون الطالب">
      <mat-icon matSuffix> <i class="fa-regular fa-user"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('fullName')?.touched && signupForm.get('fullName')?.invalid">
        <span *ngIf="signupForm.get('fullName')?.errors?.['pattern']">الأسم يجب أن يكون 8 حروف على الأقل ولا يحتوي على
          أرقام</span>
        <span *ngIf="signupForm.get('fullName')?.errors?.['required']">الأسم مطلوب</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>رقم تليفون الطالب</mat-label>
      <input matInput type="text" name="studentPhoneNumber" formControlName="studentPhoneNumber" id="studentPhoneNumber"
        aria-label="رقم تليفون الطالب">
      <mat-icon matSuffix> <i class="fa-solid fa-mobile-screen-button"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('studentPhoneNumber')?.touched && signupForm.get('studentPhoneNumber')?.invalid">
        <span *ngIf="signupForm.get('studentPhoneNumber')?.errors?.['pattern']">رقم الهاتف يجب أن يكون من 11 رقم يبدأ بـ
          010 أو 011 أو 012 أو 015</span>
        <span *ngIf="signupForm.get('studentPhoneNumber')?.errors?.['required']">رقم الهاتف مطلوب</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>رقم تليفون ولي الأمر</mat-label>
      <input matInput type="text" name="fatherPhoneNumber" formControlName="fatherPhoneNumber" id="fatherPhoneNumber"
        aria-label="رقم تليفون ولي الأمر">
      <mat-icon matSuffix> <i class="fa-solid fa-mobile-screen-button"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('fatherPhoneNumber')?.touched && signupForm.get('fatherPhoneNumber')?.invalid">
        <span *ngIf="signupForm.get('fatherPhoneNumber')?.errors?.['pattern']">رقم الهاتف يجب أن يكون من 11 رقم يبدأ بـ
          010 أو 011 أو 012 أو 015</span>
        <span *ngIf="signupForm.get('fatherPhoneNumber')?.errors?.['required']">رقم الهاتف مطلوب</span>
      </mat-error>
    </mat-form-field>

    <div class="row">

      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>الديانة</mat-label>
          <mat-select formControlName="Religion" aria-label="الديانة" required>
            <mat-option disabled selected hidden>اختر الديانة</mat-option>
            <mat-option value="Islam">الإسلام</mat-option>
            <mat-option value="Christianity">المسيحية</mat-option>
          </mat-select>
          <mat-icon matSuffix> <i class="fa-solid fa-star-and-crescent"></i></mat-icon>
          <mat-error *ngIf="signupForm.get('Religion')?.touched && signupForm.get('Religion')?.invalid">الديانة
            مطلوبة</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>تاريخ الميلاد</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" aria-label="تاريخ الميلاد" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="signupForm.get('birthday')?.touched && signupForm.get('birthday')?.errors?.['required']">تاريخ
            الميلاد مطلوب</mat-error>
        </mat-form-field>
      </div>

    </div>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>الجنس</mat-label>
      <mat-select formControlName="Sex" aria-label="الجنس" required>
        <mat-option value="" disabled selected hidden>اختر الجنس</mat-option>
        <mat-option value="male">ذكر</mat-option>
        <mat-option value="female">أنثى</mat-option>
      </mat-select>
      <mat-icon matSuffix><i class="fa-solid fa-mars-and-venus"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('Sex')?.touched && signupForm.get('Sex')?.invalid"> يجب تحديد الجنس</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>المحافظة</mat-label>
      <mat-select formControlName="Governorate" aria-label="المحافظة" required
        [ngClass]="{'is-invalid': isInputFocused}" id="Governorate" name="Governorate">
        <mat-option value="" disabled selected hidden>اختر المحافظة</mat-option>
        <!-- Options for Governorate -->
      </mat-select>
      <mat-icon matSuffix><i class="fa-solid fa-location-dot"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('Governorate')?.touched && signupForm.get('Governorate')?.invalid">يجب تحديد
        المحافظة</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>المرحلة التعليمية</mat-label>
      <mat-select formControlName="education" aria-label="المرحلة التعليمية" required id="education" name="education">
        <mat-option value="" disabled selected hidden>اختر المرحلة التعليمية</mat-option>
        <mat-option value="First">الصف الأول الثانوي</mat-option>
        <mat-option value="second">الصف الثاني الثانوي</mat-option>
        <mat-option value="third">الصف الثالث الثانوي</mat-option>
      </mat-select>
      <mat-icon matSuffix><i class="fa-solid fa-user-graduate"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('education')?.touched && signupForm.get('education')?.invalid">يجب تحديد المرحلة
        التعليمية</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>العنوان التفصيلي</mat-label>
      <input matInput name="address" formControlName="address" aria-label="العنوان التفصيلي" required>
      <mat-icon matSuffix><i class="fa-solid fa-map-location"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('address')?.touched && signupForm.get('address')?.errors?.['required']">العنوان
        مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>كلمة السر الحالية</mat-label>
      <input matInput type="password" name="password" formControlName="password" aria-label="كلمة السر" required>
      <mat-icon matSuffix><i class="fa-solid fa-lock"></i></mat-icon>
      <mat-error *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.errors">
        <span *ngIf="signupForm.get('password')?.errors?.['required']">كلمة المرور مطلوبة</span>
        <span *ngIf="signupForm.get('password')?.errors?.['minlength']">كلمة المرور يجب أن تكون أكثر من 8 أحرف</span>
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" class="custom-button w-100"> حفظ </button>
  </form>
</div>
