<section class="d-flex flex-column gap-3">
  <div class="wallet-section flex gap-2 p-3">
    <i class="fa fa-wallet px-2"></i>
    <div class="wallet-text d-flex flex-column gap-1">
      <p>
        {{balance}} ج.م
      </p>
      <p>
        الميزانية
      </p>
    </div>
  </div>

  <div class="form-container col-lg-10 p-4" dir="rtl">
    <h3 class="text-second mb-5 text-center" style="color: orange; font-weight: 700;">اعدادت الحساب</h3>

    <app-student-settings-form></app-student-settings-form>
  </div>
</section>
