.form-container,
.course-card {
  border-radius: 10px;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--border) 0px 0px 0px 1px;
  background-color: var(--bg);
}

.course-card {
  width: 230px;
}

p,
h5 {
  margin-bottom: 0;
}

h5 {
  font-weight: 700;
  color: orange;
}

.course-card h6 {
  font-weight: 700;
}
