.container {
  box-shadow: var(--border) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: var(--bg);
}

h4,
h1 {
  color: orange;
  font-weight: 700;
}

h5 {
  color: orange;
}

p:not(:last-of-type) {
  margin-bottom: 3rem;
}
