<section>
  <div class="text-center flex justify-content-between flex-column">
    <h6 style="color: orange;">تعرف علي</h6>
    <h3 style="color:var(--btn); font-weight: 700;">المدرسين الموجودين بالأكاديمية</h3>
  </div>

  <section>
    <app-side-scroll-buttons [sectionName]="'scroll-section-a-teachers'"></app-side-scroll-buttons>

    <div class="flex scroll-section-a-teachers hidden gap-3 p-1" AppearFromRight>
      <ng-container *ngFor="let teacher of teachers let i = index">
        <div class="card-container">
          <app-teacher-card [teacher]="teacher"></app-teacher-card>
        </div>
      </ng-container>
      <div class="card-container flex gap-3" AppearFromRight>
        <ng-container *ngIf="teachers.length === 0">
          <ng-container *ngFor="let course of [1,2,3,4,5,6]">
            <app-loading-cards></app-loading-cards>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>

  <div class="flex justify-content-center">
    <button mat-button routerLink="/teachers" class="custom-button my-3">كل المدرسين الأكاديمية</button>
  </div>
</section>
