<section class="container flex flex-column justify-content-between p-5">
  <div class="d-flex flex-md-row flex-column-reverse gap-4">
    <div dir="rtl">
      <label>الوظيفة: </label>
      <p [attr.contenteditable]="editText?'false':'true' "
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28"> مدرس
        فيزياء</p>

      <label>الخبرة:</label>
      <p [attr.contenteditable]="editText?'false':'true' "
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28"> 5
        سنوات تعليم حكومي</p>

      <label>المادة التعليمية:</label>
      <p [attr.contenteditable]="editText?'false':'true' "
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28">
        فيزياء </p>

      <label>الايميل:</label>
      <p [attr.contenteditable]="editText?'false':'true' "
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28">
        www.example.com</p>

      <label>رقم الهاتف:</label>
      <p [attr.contenteditable]="editText?'false':'true' "
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28"> 507
        - 541 - 4567</p>

      <label>نبذة عن المعلم </label>
      <p [attr.contenteditable]="editText ? 'false' : 'true'"
        [style.background-color]="editText ? 'transparent':'var(--active)'" class="display-28" #teacherHintValue
        [textContent]="teacherHint==='' ? 'اضف نبذة عن حياتك المهنية':''">{{teacherHint}}</p>

      <label for="experienceField">الخبرة العملية</label>
      <mat-form-field appearance="outline" style="min-width: 100%;">
        <mat-icon matPrefix>question_answer</mat-icon>
        <textarea matInput id="experienceField" [attr.contenteditable]="editText?'false':'true'"></textarea>
      </mat-form-field>
    </div>

    <div class="flex flex-column gap-5">
      <h3 class="loading ms-auto">جاري مراجعة بياناتك</h3>

      <div class="teacher-name">
        <h4>أ. رمضان مبروك ابو العلميين</h4>
      </div>

      <div class="flex flex-column gap-3">
        <img [src]="selectedImage" alt="..." id="avatarImage"
          style="max-width: 200px; max-height: 250px; border-radius: 10px;">
        <input type="file" #uploadInput style="display: none;" accept="image/*" (change)="previewImage($event)">
        <button type="button" (click)="openFileInput()">Upload Photo</button>
      </div>

      <button mat-button (click)="toggleEdit()" *ngIf="editText" class="green-button"> تعديل البيانات</button>
      <button mat-button (click)="toggleEdit()" *ngIf="!editText" class="custom-button">حفظ البيانات</button>
    </div>

  </div>
</section>
