<section class="container d-flex flex-column gap-5 mb-5">
  <div>
    <h6 style="color: orange;">لسة محتار</h6>
    <h3 style=" font-weight: 700;">هنجاوبك هنا علي كل أسئلتك</h3>
    <!-- <p style="opacity: 0.75;">في الجزء ده جمعنالكم كل الأسئلة اللي بتيجي في بالكم بخصوص الأكادمية و الكورسات الموجودة
      فيها</p> -->
    <!-- <div class="d-flex btn-container gap-3 my-5">
      <button class="custom-button">تواصل مع فريق الدعم</button>
      <button class="custom-button">المزيد من الأسئلة</button>
    </div> -->
  </div>

  <div class="flex flex-lg-row flex-column shadow1 justify-content-between hidden" style="border-radius: 10px;"
    AppearFromRight>
    <div class="col-lg-5 p-4">
      <h3 style=" font-weight: 700;">لديك استفسار؟</h3>
      <h4 style="opacity: 0.75;">نرحب بكافة استفساراتكم ويسعدنا خدمتكم والعمل على توفير بيئة تعليمية سهلة ومتطورة.</h4>

      <div class="d-flex btn-container gap-3 mt-5 mb-3">
        <button mat-button class="custom-button px-5">اتصل بنا</button>
        <button mat-button class="custom-button-2  px-4">المزيد من الأسئلة</button>
      </div>
    </div>

    <div class="flex col-lg-7 card-input-section">
      <img src="assets/image/Vector-1.webp" alt="">
      <div class="text-white">
        <h3 style=" font-weight: 700;">اشترك بقائمتنا البريدية</h3>
        <p style="opacity: 0.75;">ابق على اطلاع بكل جديد</p>
        <form action="" class="d-flex flex-column" dir="rtl">
          <mat-form-field appearance="outline">
            <input matInput placeholder="البريد الاكتروني" class="text-white">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <button mat-raised-button type="submit" class="w-50 mx-auto"
            style="background-color: white; color: black;">أشترك</button>
        </form>
      </div>
    </div>
  </div>
  <!-- <img src="assets/image/Questions.gif" alt="" class="animated-img"> -->
</section>
