body {
  overflow-x: hidden;
}

.section-container {
  border-radius: 10px;
  padding-bottom: 5rem;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--border) 0px 0px 0px 1px;
  background-color: var(--bg);
  width: 100%;
  position: relative;
  min-height: calc(700px + 2rem);
}

.section {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-header {
  border-radius: 10px;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--border) 0px 0px 0px 1px;
  background-color: var(--bg);
  width: 250px;
  height: 100px;
  justify-content: center;
}

.section-header h6 {
  opacity: 0.75;
  font-weight: 700;
}

h5 {
  font-weight: 700;
}

h5 span {
  color: var(--wave2);
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 35px solid var(--wave2);
  border-right: 20px solid transparent;
  rotate: 90deg;
  margin-bottom: -2.25rem;
  margin-right: -1.25rem;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 35px solid var(--wave2);
  border-left: 20px solid transparent;
  rotate: 90deg;
  margin-bottom: -0.15rem;
  margin-right: -1.25rem;
}

/* #book-mark-tail {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: var(--wave2);
  top: 2rem;
  left: -1.25rem;
} */

.close {
  color: red;
}

.mat-icon {
  height: 26px !important;
  width: 22px !important;
}

label {
  font-weight: 700;
}

.true:checked + label {
  color: green !important;
}
.true:checked + label::after {
  content: "\2714";
  color: green;
}

.false:checked + label::after {
  content: "\2718";
  color: red;
}
.false:checked + label {
  color: red !important;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
}

label::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  font-size: 1.2em;
}

.disabled-label {
  text-decoration: line-through;
  text-decoration-color: red;
}

.counter {
  margin-top: 8px; /* Adjust as needed */
  font-size: 14px; /* Adjust as needed */
  color: #333; /* Adjust color as needed */
}

/*
::ng-deep .mdc-button__label{
  margin-inline:auto !important;
} */

/* Change the border color */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: var(--bgHeader) !important;
  transition: 0.3s;
}

/* Change the border width */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-width: 1.5px !important;
}

/* Change the border focused color */
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

/* Change the border hover color */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text,
::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--wave3) !important;
}

mat-form-field mat-label {
  color: var(--bgHeader);
}

.section mat-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

form.container {
  gap: 2rem;
}

mat-error {
  color: red !important;
}

/* ::ng-deep .snackbar {
  background-color: brown !important;
  color: white !important;
} */

@media (min-width: 992px) {
  .column {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .column {
    justify-content: center;
  }
  form.container {
    flex-direction: column;
  }
  .section-header {
    align-items: center;
  }
}
@media (max-width: 480px) {
  /* .column {
    flex-wrap: wrap;
  }
 */
  .column-mobile {
    flex-direction: column;
  }
  .answer {
    align-items: center !important;
    gap: 1rem;
  }
  .truefalse {
    margin-bottom: 2rem;
  }
}
