section {
  background-color: #2d2d2d;
}
svg:first-of-type {
  margin-bottom: -12vw;
  z-index: 0;
}
svg:last-of-type {
  margin-top: -12vw;
  z-index: 0;
}
.cards-container {
  margin-bottom: 5rem;
  margin-top: 5rem;
  z-index: 1;
  font-size: 35px;
}
.cards-container svg {
  width: 5rem;
  height: 5rem;
  margin:0;
}
.custom-button {
  border-radius: 20rem;
  padding-inline: 1.25rem;
}

@media (max-width: 460px) {
  .custom-checkbox-container {
    justify-content: center;
  }
  h3,
  h6 {
    padding-right: 1rem;
  }
  .btn-container {
    flex-direction: column;
  }
  div {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
@media (min-width: 460px) {
  div {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 920px) {
  .animated-img {
    display: none;
  }
}
