.container {
  min-height: 90dvh;
}

.flex-grow-1 {
  margin-top: 10rem;
}

form {
  box-shadow: var(--border) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: var(--bg);
  max-width: 792px;
  margin-inline: 0.5rem;
}

h3 {
  font-weight: 700;
  color: orange;
}

.custom-button {
  border-radius: 20rem;
  width: 100%;
  height: 55px;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

.custom-checkbox-container {
  display: flex;
  width: 100%;
}

.custom-checkbox {
  display: inline-block;
  flex-grow: 1;
  padding-top: 0.75rem;
  padding-bottom: 2.25rem;
  background-color: rgba(204, 204, 204, 0.3);
  cursor: pointer;
  transition: 0.3s;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--bgHeader);
}

.custom-checkbox.checked {
  background-color: rgba(204, 204, 204, 0.7);
  border-bottom: 3px solid transparent;
  border-image: var(--btn) 1;
  color: var(--bgHeader);
}

mat-table,
.overflow-x {
  box-shadow: var(--border) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: var(--bg);
  /* max-width: 644px; */
}

.overflow-x {
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.table-container {
  width: 100%;
}

tr th:first-child {
  text-align: start;
}

tr td:first-of-type,
tr th:first-of-type {
  padding-right: 1rem;
}

th,
td {
  padding: 8px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

th {
  font-weight: 700;
}

.courseThumbnail {
  width: 65px;
  height: 65px;
  border-radius: 20rem;
  margin: 0.5rem;
  margin-right: 0;
}

@media (max-width: 992px) {
  .overflow-x {
    width: calc(85vw - 24px);
  }
}

@media (max-width: 576px) {
  .overflow-x {
    width: calc(98vw - 24px);
  }
}
