<form class="flex flex-wrap flex-column justify-content-center p-4" dir="rtl" [formGroup]="shippingForm"
  (ngSubmit)="submitForm()">

  <h3 class="text-second mb-4 text-center">
    أدخل كود الشحن
  </h3>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>أدخل كود الشحن</mat-label>
    <input matInput type="text" formControlName="code">
    <mat-icon matSuffix>payment</mat-icon>
    <mat-error *ngIf="shippingForm.get('code')?.invalid && shippingForm.get('code')?.touched">
      الكود مطلوب
    </mat-error>
  </mat-form-field>

  <button mat-button class="mx-3 custom-button" type="submit"> اشحن الان </button>
</form>
