<form class="form-floating" action="" method="" [formGroup]="updateTeacherForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>الأسم </mat-label>
        <input matInput type="text" name="firstName" formControlName="firstName" id="firstName" placeholder="اسم المعلم"
          aria-label=" اسم المعلم">
        <mat-icon matSuffix class="fa-regular fa-user"></mat-icon>
        <mat-error *ngIf="firstName?.touched && firstName?.invalid">
          <span *ngIf="firstName?.errors?.['pattern']" class="text-danger">الأسم يجب أن يكون 4 حروف على الأقل ولا
            يحتوي على أرقام</span>
          <span *ngIf="firstName?.errors?.['required']" class="text-danger">الأسم مطلوب</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>اسم العائلة</mat-label>
        <input matInput type="text" name="lastName" formControlName="lastName" id="lastName" placeholder="اسم العائلة"
          aria-label=" اسم المعلم">
        <mat-icon matSuffix class="fa-regular fa-user"></mat-icon>
        <mat-error *ngIf="lastName?.touched && lastName?.invalid">
          <span *ngIf="lastName?.errors?.['required']" class="text-danger">الأسم مطلوب</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>رقم تليفون المدرس</mat-label>
    <input matInput type="text" name="phoneNumber" formControlName="phoneNumber" id="phoneNumber"
      placeholder="رقم الموبايل" aria-label="رقم تليفون المدرس">
    <mat-icon matSuffix class="fa-solid fa-mobile-screen-button"></mat-icon>
    <mat-error *ngIf="phoneNumber?.touched && phoneNumber?.invalid">
      <span *ngIf="phoneNumber?.errors?.['pattern']" class="text-danger">رقم الهاتف يجب أن يكون من 11 رقم
        يبدأ بـ 010 أو 011 أو 012 أو 015</span>
      <span *ngIf="phoneNumber?.errors?.['required']" class="text-danger">رقم الهاتف مطلوب</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label> عنوان الفيسبوك</mat-label>
    <input matInput type="text" name="facebookAccount" formControlName="facebookAccount" id="facebookAccount"
      placeholder=" عنوان الفيسبوك" aria-label="رقم تليفون المدرس">
    <mat-icon matSuffix class="fa-solid fa-mobile-screen-button"></mat-icon>
    <mat-error *ngIf="facebookAccount?.touched && facebookAccount?.invalid">
      <span *ngIf="facebookAccount?.errors?.['required']" class="text-danger"> عنوان الفيسبوك مطلوب</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>تاريخ الميلاد</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" placeholder="تاريخ الميلاد"
      aria-label="تاريخ الميلاد" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="updateTeacherForm.get('dateOfBirth')?.touched && updateTeacherForm.get('dateOfBirth')?.errors?.['required']">
      تاريخ الميلاد مطلوب
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>الجنس</mat-label>
    <mat-select formControlName="gender" placeholder="اختر الجنس" aria-label="الجنس" required>
      <mat-option value="" disabled selected hidden>اختر الجنس</mat-option>
      <mat-option value="Male">ذكر</mat-option>
      <mat-option value="Female">أنثى</mat-option>
    </mat-select>
    <mat-icon matSuffix class="fa-solid fa-mars-and-venus"></mat-icon>
    <mat-error *ngIf="gender?.touched && gender?.invalid"> يجب تحديد الجنس</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>المحافظة</mat-label>
    <mat-select formControlName="city" placeholder="اختر المحافظة" aria-label="المحافظة" required
      [ngClass]="{'is-invalid': isInputFocused}" id="city" name="city">
      <mat-option value="" disabled selected hidden>اختر المحافظة</mat-option>
      <mat-option value="cairo">القاهرة</mat-option>
      <mat-option value="qalyubia">القليوبية</mat-option>
      <mat-option value="alexandria">الإسكندرية</mat-option>
      <mat-option value="asyut">أسيوط</mat-option>
      <mat-option value="aswan">أسوان</mat-option>
      <mat-option value="beni_suef">بني سويف</mat-option>
      <mat-option value="beheira">البحيرة</mat-option>
      <mat-option value="damietta">دمياط</mat-option>
      <mat-option value="gharbia">الغربية</mat-option>
      <mat-option value="faiyum">الفيوم</mat-option>
      <mat-option value="ismailia">الإسماعيلية</mat-option>
      <mat-option value="giza">الجيزة</mat-option>
      <mat-option value="luxor">الأقصر</mat-option>
      <mat-option value="kafr_el_sheikh">كفر الشيخ</mat-option>
      <mat-option value="minya">المنيا</mat-option>
      <mat-option value="matruh">مطروح</mat-option>
      <mat-option value="new_valley">الوادي الجديد</mat-option>
      <mat-option value="monufia">المنوفية</mat-option>
      <mat-option value="port_said">بورسعيد</mat-option>
      <mat-option value="north_sinai">شمال سيناء</mat-option>
      <mat-option value="qena">قنا</mat-option>
      <mat-option value="sohag">سوهاج</mat-option>
      <mat-option value="red_sea">البحر الأحمر</mat-option>
      <mat-option value="suez">السويس</mat-option>
      <mat-option value="south_sinai">جنوب سيناء</mat-option>
    </mat-select>
    <mat-icon matSuffix class="fa-solid fa-location-dot"></mat-icon>
    <mat-error *ngIf="city?.touched && city?.invalid">يجب تحديد المحافظة</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>العنوان التفصيلي</mat-label>
    <input matInput name="address" formControlName="address" placeholder="العنوان التفصيلي"
      aria-label="العنوان التفصيلي" required>
    <mat-icon matSuffix class="fa-solid fa-map-location"></mat-icon>
    <mat-error *ngIf="address?.touched && address?.errors?.['required']">العنوان مطلوب</mat-error>
  </mat-form-field>


  <div class="d-grid gap-3 text-center my-5">
    <button class="rounded-5 custom-button" type="submit">{{'حفظ' }}</button>
  </div>
</form>
