.form-floating{
  max-width: 744px;
}

label {
  font-size: 18px;
}

button {
  height: 55px !important;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

p {
  margin: 0 !important;
}

p a:hover {
  text-decoration: underline !important;
}

mat-form-field{
  width: 100%;
}
