section.container > div {
  border-radius: 10px;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--border) 0px 0px 0px 1px;
  background-color: var(--bg);
}

label {
  font-size: 18px;
}

button {
  height: 55px !important;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}

p {
  margin: 0 !important;
}

p a:hover {
  text-decoration: underline !important;
}

