<section class="container d-flex justify-content-center" dir="rtl">
  <div class="col-md-7 px-4">
    <div class="text-center mt-5">
      <h3 class="text-second mb-4" style="color: orange;  font-weight: 700;"> تسجيل الدخول</h3>
      <h6 class="mb-6 text-main font-24-bold"> أدخل علي حسابك بادخال رقم الهاتف وكلمة
        المرور المسجل بهم من قبل</h6>
    </div>

    <form class="form-floating" action="" method="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row mt-5">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>رقم تليفون الطالب</mat-label>
            <input matInput type="text" name="studentPhoneNumber" formControlName="studentPhoneNumber"
              id="studentPhoneNumber" placeholder="رقم الموبايل" aria-label="رقم تليفون الطالب" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="studentPhoneNumber?.touched && studentPhoneNumber?.invalid">
              <span *ngIf="studentPhoneNumber?.errors?.['pattern']" class="text-danger">رقم الهاتف يجب أن يكون من 11
                رقم ويبدأ بـ 010 أو 011 أو 012 أو 015</span>
              <span *ngIf="studentPhoneNumber?.errors?.['required']" class="text-danger">رقم الهاتف مطلوب</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row mt-3">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>كلمة السر</mat-label>
            <input matInput type="password" name="password" formControlName="password" id="password"
              placeholder="كلمة السر" aria-label="كلمة السر" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="password?.touched && password?.invalid">
              <span *ngIf="password?.errors?.['required']" class="text-danger"> كلمة المرور مطلوبة</span>
              <span *ngIf="password?.errors?.['minlength']" class="text-danger"> كلمة المرور يجب أن تكون أكثر من 8
                أحرف</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!--
            <div class="row mt-3">
                <div class="col">
                    <label class="d-block font-18-medium mb-3" for="password">كلمة السر</label>
                    <input type="password" name="password" formControlName="password" class="form-control  mt-3" style="width: 100%;" id="password" placeholder="كلمة السر" aria-label="كلمة السر" required >
                    <div *ngIf="password?.touched ">
                        <p *ngIf="password?.errors?.['required']" class="text-danger"> كلمة المرور مطلوبة</p>
                        <p *ngIf="password?.errors?.['minlength']" class="text-danger"> كلمةالمرور يجب ان تكون أكثر من 8 أحرف</p>
                      </div>
                </div>
            </div> -->

      <div class="d-grid gap-3 text-center my-4">
        <button mat-button class="rounded-5 custom-button" type="submit"> تسجيل الدخول</button>
        <p>لا يوجد لديك حساب؟<a [routerLink]="['/signup']" class="text-second text-decoration-none"
            style="color: orange;"> انشئ حسابك الآن</a></p>
        <p>هل نسيت كلمة المرور؟<a [routerLink]="['/signup']" class="text-second text-decoration-none"
            style="color: orange;">استعادة كلمة المرور</a></p>
      </div>
    </form>
  </div>

</section>
