<section class="container d-flex justify-content-center" dir="rtl">
  <div class="col-md-7 px-4">
    <div class="text-center mt-5">
      <h3 class="text-second mb-4" style="color: orange;  font-weight: 700;"> تسجيل الدخول</h3>
      <h6 class="mb-6 text-main font-24-bold"> أدخل علي حسابك بادخال رقم الهاتف وكلمة
        المرور المسجل بهم من قبل</h6>
    </div>

    <form class="form-floating" action="" method="" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row mt-5">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>عنوان البريد الإلكتروني</mat-label>
            <input matInput type="email" name="studentEmail" formControlName="studentEmail" id="studentEmail"
              placeholder="البريد الإلكتروني" aria-label="عنوان البريد الإلكتروني" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="studentEmail?.touched && studentEmail?.invalid">
              <span *ngIf="studentEmail?.errors?.['pattern']" class="text-danger">البريد الإلكتروني غير صالح</span>
              <span *ngIf="studentEmail?.errors?.['required']" class="text-danger">البريد الإلكتروني مطلوب</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>كلمة السر</mat-label>
            <input matInput type="password" name="password" formControlName="password" id="password"
              placeholder="كلمة السر" aria-label="كلمة السر" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="password?.touched && password?.invalid">
              <span *ngIf="password?.errors?.['required']" class="text-danger"> كلمة المرور مطلوبة</span>
              <!-- <span *ngIf="password?.errors?.['minlength']" class="text-danger"> كلمة المرور يجب أن تكون أكثر من 8
                أحرف</span> -->
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="d-grid gap-3 text-center my-4">
        <button mat-button class="rounded-5 custom-button" type="submit"> تسجيل الدخول</button>
        <p>لا يوجد لديك حساب؟
          <a [routerLink]="['/signup']" class="text-second text-decoration-none" style="color: orange;"> انشئ حسابك
            الآن</a>
        </p>
        <p>هل نسيت كلمة المرور؟
          <a [routerLink]="['/reset-password']" class="text-second text-decoration-none" style="color: orange;">استعادة
            كلمة المرور</a>
        </p>
      </div>
    </form>
  </div>
</section>
