<div class="d-flex align-items-start parent container gap-4">
  <div class="flex filter-container gap-2 flex-wrap">
    <mat-accordion class="flex">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel" expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            المادة
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" class="flex flex-column sub-radio" [(ngModel)]="subject"
          (change)="filterBySubject()">
          <mat-radio-button value="all" color="accent">الكل</mat-radio-button>
          <mat-radio-button *ngFor="let subject of subjectName" [value]="subject" color="accent">
            {{ subject }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="flex">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            نوع الكورس
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" class="flex flex-column sub-radio" [(ngModel)]="type"
          (change)="filterByCourseType()">
          <mat-radio-button value="all" color="accent">الكل</mat-radio-button>
          <mat-radio-button *ngFor="let type of courseType" [value]="type" color="accent">
            {{ type }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="flex">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            الصف الدراسي
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-radio-group aria-label="Select an option" class="flex flex-column sub-radio" [(ngModel)]="level"
          (change)="filterByLevel()">
          <mat-radio-button value="all" color="accent">الكل</mat-radio-button>
          <mat-radio-button *ngFor="let level of levelName" [value]="level" color="accent">
            {{ level }}
          </mat-radio-button>
        </mat-radio-group>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="flex" dir="rtl">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            أدني السعر
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider #sliderOne [min]="minPrice" [max]="middlePrice" step="3" color="accent" showTickMarks discrete
          (input)="filterByPriceRange(sliderOne)">
          <input matSliderThumb>
        </mat-slider>

        <div class="flex justify-content-between">
          <span class="price-text">EGP {{minPrice}}</span>
          <span class="price-text">EGP {{middlePrice}}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion class="flex" dir="rtl">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        class="custom-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            أعلى السعر
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slider #sliderTwo [min]="middlePrice" [max]="maxPrice" step="5" color="accent" showTickMarks discrete
          (input)="filterByPriceRange(sliderTwo)">
          <input matSliderThumb>
        </mat-slider>

        <div class="flex justify-content-between">
          <span class="price-text">EGP {{ middlePrice }}</span>
          <span class="price-text">EGP {{ maxPrice }}</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <div class="flex flex-wrap gap-3">
      <ng-container *ngFor="let course of filteredPaginatedCourses">
        <app-course-card [course]="course"></app-course-card>
      </ng-container>

      <ng-container *ngIf="courses.length === 0">
        <ng-container *ngFor="let course of [1,2,3,4,5,6]">
          <app-loading-cards></app-loading-cards>
        </ng-container>
      </ng-container>
    </div>

    <app-custom-pagination [length]="filteredCourses.length"
      (pageChanged)="onPageChange($event)"></app-custom-pagination>
  </div>
</div>
