<main>
  <app-hero></app-hero>
  <div class="container">
    <!-- <img src="assets/image/Header_6.png" alt="" class="w-100 img-header"> -->
    <hr class="mb-5">
    <app-recent-courses></app-recent-courses>
  </div>
  <app-about-academy></app-about-academy>
  <div class="container"><app-about-teachers></app-about-teachers></div>
  <app-about-us></app-about-us>
  <div class="container"><app-class-rank></app-class-rank></div>
  <app-target-counter></app-target-counter>
  <div class="container"><app-questions></app-questions></div>
</main>
