<div class="form-container d-flex flex-column gap-3">
  <div class="wallet-section flex gap-2 p-3">
    <i class="fa fa-wallet px-2"></i>
    <div class="wallet-text d-flex flex-column gap-1">
      <p>
        {{balance}} ج.م
      </p>
      <p>
        الميزانية
      </p>
    </div>
  </div>

  <div>
    <div class="flex flex-wrap custom-checkbox-container">
      <button mat-button *ngFor="let option of options; let i = index" class="custom-checkbox"
        [class.checked]="option.selected" (click)="setActiveSection(i)">
        <span>{{option.label}}</span>
      </button>
    </div>

    <app-coupon *ngIf="selectedOptionIndex === 0"></app-coupon>
    <app-wallet *ngIf="selectedOptionIndex === 1"></app-wallet>
    <app-credit-card *ngIf="selectedOptionIndex === 2 || selectedOptionIndex === 3"
      [paymentType]="paymentType"></app-credit-card>
  </div>
</div>
