form {
  box-shadow: var(--border) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: var(--bg);
  flex-grow: 1;
}

.custom-button {
  border-radius: 20rem;
  width: 150px;
}

h3 {
  font-weight: 700;
}

@media (min-width: 992px) {
  form {
    max-width: 644px;
  }
}

@media (max-width: 992px) {
  form {
    width: 100%;
  }
}
