<section class="container flex gap-5 flex-lg-row flex-column align-items-start" *ngIf="student">
  <div class="flex flex-column gap-3 navigation-container">
    <div class="d-flex flex-column justify-content-center header-section p-3">
      <h5>{{ student.firstName }} {{ student.lastName }}</h5>
      <h6 *ngIf="student.levelName === 'Level one'">الصف الأول الثانوي</h6>
      <h6 *ngIf="student.levelName === 'Level two'">الصف الثاني الثانوي</h6>
      <h6 *ngIf="student.levelName === 'Level three'">الصف الثالث الثانوي</h6>
    </div>
    <div class="navigation-section">
      <button mat-button *ngFor="let option of options; let i = index" class="form-button-1"
        [ngClass]="{'signOut': i == options.length - 1 ,'active':(i == selectedOptionIndex) && i != 5}"
        (click)="setActiveSection(i)">
        <i class="fa fa-{{ option.icon }} px-2"></i>
        {{ option.label }}
      </button>
    </div>
  </div>
  <div>
    <div [@fadeInOut] *ngIf="selectedOptionIndex === 0">
      <app-student-settings></app-student-settings>
    </div>
    <div [@fadeInOut] *ngIf="selectedOptionIndex === 1">
      <app-student-course></app-student-course>
    </div>
    <div [@fadeInOut] *ngIf="selectedOptionIndex === 2">
      <app-profile-budget></app-profile-budget>
    </div>
    <div [@fadeInOut] *ngIf="selectedOptionIndex === 3">
      <app-student-shipping-codes></app-student-shipping-codes>
    </div>
    <div [@fadeInOut] *ngIf="selectedOptionIndex === 4">
      <app-change-password></app-change-password>
    </div>
    <!-- <div [@fadeInOut] *ngIf="selectedOptionIndex === 5">
      <app-student-settings></app-student-settings>
    </div> -->

  </div>
</section>

<div *ngIf="!student" class="spinner flex justify-content-center">
  <mat-spinner></mat-spinner>
</div>
