.header-section,
.navigation-section {
  border-radius: 10px;
  box-shadow: var(--border) 0px 1px 3px 0px, var(--border) 0px 0px 0px 1px;
  background-color: var(--bg);
}

.header-section {
  min-height: 100px;
}

.header-section h5,
.header-section h6 {
  font-weight: 700;
}

.header-section h6 {
  opacity: 0.75;
}

.navigation-section {
  overflow-y: hidden;
}

.form-button-1 {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0;
  border-bottom-left-radius: 0;
  color: black;
  transition: 0.3s;
  color: var(--bgHeader);
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-start;
}

.active {
  background-color: rgba(204, 204, 204, 0.7);
  border-left: 4px solid transparent;
  border-image: var(--btn) 1;
  color: var(--bgHeader);
}

.form-button-1 .fa {
  font-size: 1.25rem;
  transition: 0.3s;
}
.active .fa {
  color: var(--wave1);
}

.signOut {
  color: red;
}

.spinner {
  min-height: 90dvh;
}

.spinner ::ng-deep circle {
  stroke: var(--wave2);
}

h3 {
  font-weight: 700;
  color: orange;
  margin-bottom: calc(50px - 33.6px + 0.5rem);
  margin-top: calc(50px + 0.5rem);
}

@media (min-width: 992px) {
  .header-section,
  .navigation-section {
    width: 230px;
  }
}
@media (max-width: 992px) {
  .header-section,
  .navigation-section,
  section,
  .navigation-container {
    width: 100%;
  }

  .header-section {
    align-items: center;
  }

  h3 {
    display: none;
  }
}
