@use '@angular/material' as mat;
@include mat.core();

$indigo-palette: (
  50: #fff,
  100: var(--wave2),
  200: #201AD9,
  300: #4E49FF,
  400: #5c6bc0,
  500: #212121,
  600: var(--wave2),
  700: #303f9f,
  800: #283593,
  900: #1a237e,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$light-primary: mat.define-palette($indigo-palette, 50);
$light-accent: mat.define-palette($indigo-palette, 100);
$light-warn: mat.define-palette($indigo-palette, 500);

$dark-primary: mat.define-palette($indigo-palette, 500);
$dark-accent: mat.define-palette($indigo-palette, 600);
$dark-warn: mat.define-palette($indigo-palette, 50);

$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
        warn: $light-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

.theme-light {
  @include mat.all-component-colors($light-theme);
  background-color: #ffffff;
  color: #2B3445;
}

.theme-dark {
  @include mat.all-component-colors($dark-theme);
  background-color: #121212;
  color: #ffffff;
}

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html {
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  direction: rtl;
  // overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

* {
  border: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
  // font-family: "Tajawal", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

:root {
  --secondary: rgb(255, 255, , 255);

  --border: rgba(202, 202, 202, 0.4);
  --border2: rgb(66, 66, 66);

  --active: rgba(255, 255, 255, 0.04);

  --btn: linear-gradient(120deg, var(--wave1), var(--wave2));

  --btn1: linear-gradient(120deg, var(--wave3), var(--wave4));

  --wave1: #734046;
  --wave2: #E79E4F;
  --wave3: #067d68;
  --wave4: #50d5b7;
  --wave5: #D60000;
  --wave6: #FF5353;

  --wave2Shadow: #efa85822;

  --title: rgb(39, 39, 42);
  --subtitle: rgb(82, 82, 91);

  --bgHeader: rgb(253, 253, 253);
  --bg: #212121;

  --icon-hover: #333;
}

.theme-light {
  --secondary: rgb(24, 24, , 27);

  --border: rgba(63, 63, 70, 0.12);
  --border2: rgb(244, 244, 255);

  --active: rgba(0, 0, 0, 0.04);

  --btn: linear-gradient(120deg, #2D388A, #00AEEF);

  --wave1: #2D388A;
  --wave2: #00AEEF;

  --wave2Shadow: #00AEEF22;

  --title: rgb(244, 244, 255);
  --subtitle: rgb(161, 161, 170);

  --bgHeader: rgb(39, 39, 42);
  --bg: #FBFBFB;

  --icon-hover: #d4d4d8;
}


@keyframes beating {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.beating-animation {
  animation: beating 3s infinite;
}

//custom buttons
.custom-button,
custom-checkbox.checked {
  color: #ffffff !important;
  background: linear-gradient(90deg, var(--wave1, #f6d365), var(--wave2, #fda085) 51%, var(--wave1, #f6d365)) var(--x, 0)/ 200% !important;
  scale: 1;
  transition: 0.4s;
}

.green-button {
  color: #ffffff !important;
  background: linear-gradient(90deg, var(--wave3, #f6d365), var(--wave4, #fda085) 51%, var(--wave3, #f6d365)) var(--x, 0)/ 200% !important;
  scale: 1;
  transition: 0.4s;
  border-radius: 20rem;
  width: 150px;
}

.red-button {
  color: #ffffff !important;
  background: linear-gradient(90deg, var(--wave5, #f6d365), var(--wave6, #fda085) 51%, var(--wave5, #f6d365)) var(--x, 0)/ 200% !important;
  scale: 1;
  transition: 0.4s;
  border-radius: 20rem;
  width: 150px;
}

.custom-button:hover,
.green-button:hover,
.red-button:hover {
  scale: 0.995;
  --x: 100%;
}

.custom-button:disabled,
.green-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hidden {
  opacity: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s forwards;
  -webkit-animation: slideIn 1s forwards;
}

.slide-from-left {
  animation: slideFromLeft 1s forwards;
}

.slide-from-right {
  animation: slideFromRight 1s forwards;
}


// form inputs
/* Change the border color */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--bgHeader) !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* Change the border width */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-width: 1.5px !important;
}

/* Change the border focused color */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

/* Change the border hover color */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text,
::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--wave3) !important;
}

mat-form-field mat-label {
  color: var(--bgHeader);
}


::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  border: 7px solid var(--bg);
  // box-shadow: inset 0 0 0px 1px var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--subtitle);
  border-radius: 2px;
  // border: 1px solid var(--border);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// ::-webkit-scrollbar-track {
//   background-color: var(--bg);
// }

// ::-webkit-scrollbar {
//   width: 10px;
//   background-color: var(--bg);
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background: linear-gradient(0deg, var(--wave1, #f6d365), var(--wave2, #fda085) 51%, var(--wave1, #f6d365)) var(--x, 0)/ 200% !important;
// }
