<div class="form-container col-lg-10">
  <form [formGroup]="changePasswordForm" dir="rtl" class="flex flex-wrap justify-content-center p-4 w-100" (ngSubmit)="onSubmit()">

    <h3 class="text-second mb-4 text-center">
      تغيير كلمة السر
    </h3>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>كلمة السر الحالية</mat-label>
      <input matInput type="password" formControlName="currentPassword" aria-label="كلمة السر" required>
      <mat-icon matSuffix><i class="fa-solid fa-lock"></i></mat-icon>
      <mat-error *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.errors?.['required']">
        <span class="text-danger">كلمة المرور مطلوبة</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>كلمة السر الجديدة</mat-label>
      <input matInput type="password" formControlName="password" aria-label="كلمة السر" required>
      <mat-icon matSuffix><i class="fa-solid fa-lock"></i></mat-icon>
      <mat-error *ngIf="changePasswordForm.get('password')?.touched && changePasswordForm.get('password')?.errors?.['required']">
        <span class="text-danger">كلمة المرور مطلوبة</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>تأكيد كلمة السر</mat-label>
      <input matInput type="password" formControlName="confirmPassword" aria-label="تأكيد كلمة السر" required>
      <mat-icon matSuffix><i class="fa-solid fa-lock"></i></mat-icon>
      <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('unMatchedPassword')">
        <span class="text-danger">كلمة المرور غير متطابقة</span>
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" class="mx-3 custom-button"> حفظ </button>
  </form>
</div>
