<div *ngIf="course">
  <app-course-details-header [course]="course"></app-course-details-header>

  <section>
    <div class="container d-flex flex-wrap gap-3 justify-content-between">
      <div class="content-container flex-container">
        <!-- Custom checkbox container -->
        <div class="custom-checkbox-container flex flex-wrap gap-2 my-3"
          [ngClass]="(role === 'Teacher' ? 'teacherCheckbox' : '')">
          <button mat-button *ngFor="let opt of options; let i = index" class="custom-checkbox"
            [class.checked]="opt.selected" (click)="toggleOption(i)">
            <span>{{ opt.label }}</span>
          </button>
        </div>

        <div class="course d-flex flex-column gap-2" *ngIf="options[0].selected">
          <div class="flex gap-1 mb-2">
            <h3 class="m-0" style="font-weight: 700;">محتوي الكورس</h3>
            <button mat-icon-button *ngIf="role === 'Teacher'"
              (click)="openLessonDialog()"><mat-icon>note_add</mat-icon></button>
          </div>

          <mat-accordion class="flex crud-buttons w-100" *ngFor="let lecture of course?.lectureList; let i = index">
            <mat-expansion-panel class="custom-expansion-panel" #panel>
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 700;" class="flex container" [class.expanded]="panel.expanded">
                  <div class="flex justify-content-between" style="width: 100%;">
                    <div class="flex gap-3">
                      <span class="title">{{lecture.lectureTitle}}</span>

                      <button mat-icon-button *ngIf="role === 'Teacher'" [matMenuTriggerFor]="menu"
                        class="width-50 m-0">
                        <mat-icon>add_circle</mat-icon>
                      </button>
                    </div>

                    <button mat-menu-item [routerLink]="['/course', course.id, 'lesson', lecture.id, 'view']"
                      [queryParams]="{ examId: lecture.preExam }"
                      *ngIf="lecture.preExam && role === 'Student'"
                      class="flex px-2 mx-2 my-0 exam-button">
                      <i class="fas fa-clipboard-list"></i>
                      امتحان
                    </button>
                  </div>

                  <mat-menu #menu="matMenu" class="lesson-menu" AppearFromRight>

                    <button mat-menu-item (click)="addContentDialog('file', lecture.id)" style="direction: rtl;">
                      ملف
                    </button>
                    <button mat-menu-item (click)="addContentDialog('video', lecture.id)" style="direction: rtl;">
                      فيديو
                    </button>
                    <button mat-menu-item (click)="openExamDialog('PreExam', course!, lecture, i)"
                      style="direction: rtl;">
                      امتحان
                    </button>
                    <button mat-menu-item (click)="openExamDialog('Assignment', course!, lecture, i)"
                      style="direction: rtl;">
                      واجب
                    </button>

                  </mat-menu>

                </mat-panel-title>
              </mat-expansion-panel-header>

              <ng-container *ngIf="lectureContact[lecture.id]">
                <ng-container *ngFor="let content of lectureContact[lecture.id]">
                  <div class="flex crud-buttons gap-2">
                    <button mat-button class="d-flex justify-content-start gap-2" (click)="passLesson(lecture)">
                      <mat-icon style="color: var(--wave2);">airplay</mat-icon>
                      <span>{{ getContentTitle(content) }}</span>
                    </button>

                    <div class="flex">
                      <button mat-icon-button *ngIf="role === 'Teacher'" class="width-50 m-0 custom-icon-button"
                        style="color: red;" (click)="openDeleteContentConfirmationDialog(lecture.id, content)">
                        <mat-icon>delete</mat-icon>
                      </button>

                      <button mat-icon-button *ngIf="role === 'Teacher'" class="width-50 m-0 custom-icon-button"
                        style="color: green;" (click)="editContentDialog(lecture.id, content)">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>

            </mat-expansion-panel>
            <button mat-icon-button *ngIf="role === 'Teacher'" class="width-50 m-0 custom-icon-button"
              style="color: red;" (click)="openDeleteLectureConfirmationDialog(lecture.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button *ngIf="role === 'Teacher'" class="width-50 m-0 custom-icon-button"
              style="color: green;" (click)="editLessonDialog(lecture.id, lecture.lectureTitle ,lecture.price)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-accordion>
        </div>

        <div class="teacher d-flex gap-3 mt-4" *ngIf="options[1].selected">
          <!-- <img mat-card-image [src]="teacher?.imageUrl" alt="Sample Image" class="align-self-center"> -->
          <img mat-card-image src="https://via.placeholder.com/225" alt="Sample Image" class="mt-4">
          <div>
            <h3 style="font-weight: 700;" class="mb-4">أ. {{course.teacherName}}</h3>
            <p>
              مدرّس متخصص في علوم الحاسوب وتطوير البرمجيات، لديه خبرة تزيد عن ١٥ عامًا في المجال. شارك في تأسيس العديد
              من
              الشركات الناشئة وعمل في شركات تقنية عالمية بارزة. يحمل خبرة غنية في تدريس مواد علوم الحاسوب في الجامعات
              الرائدة
              مثل جامعة القاهرة وجامعة النيل، وله مساهمات مهمة في البحث العلمي في مجال تطوير الذكاء الاصطناعي وتعلم
              الآلة.
              يشغل
              حاليًا منصب مدير تطوير البرمجيات في شركة عالمية رائدة في مجال تكنولوجيا المعلومات، وقد حصل على شهادات
              معتمدة
              من
              شركات تقنية كبيرة مثل مايكروسوفت وأمازون وغيرها.
            </p>
          </div>
        </div>
      </div>

      <div class="card-container">
        <app-course-details-card [course]="course"></app-course-details-card>
      </div>
    </div>
  </section>
</div>

<div *ngIf="!course" class="spinner flex justify-content-center">
  <mat-spinner></mat-spinner>
</div>
