.custom-button {
  border-radius: 20rem;
  padding-inline: 2rem;
}

h3 {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

::ng-deep .mdc-notched-outline__leading {
  border-color: var(--bgHeader) !important;
}
::ng-deep .mdc-notched-outline__notch {
  border-color: var(--bgHeader) !important;
}
::ng-deep .mdc-notched-outline__trailing {
  border-color: var(--bgHeader) !important;
}

mat-label {
  color: var(--bgHeader);
}
input{
  direction: rtl;
}

.e-dialog.e-schedule-dialog {
  border: 2px;
  border-radius: 20px;
  padding: 10px;
}
