svg {
  margin-bottom: -6vw;
}

footer {
  background-color: #2d2d2d;
  min-height: 5rem;
}

.social-icons button .mat-icon {
  color: white;
}

.social-icons button:hover .mat-icon {
  opacity: 1;
}

ul {
  display: flex;
  list-style: none;
  gap: 0.95rem;
  padding: 0;
}

.item a {
  text-decoration: none;
  width: 3rem;
  height: 3rem;
  background-color: var(--bg);
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  border: 3px solid var(--bg);
  overflow: hidden;
}

.item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 0;
  scale: 1 0;
  transform-origin: bottom;
  transition: scale 0.5s ease;
  border-radius: 30%;
}

.item:hover a::before {
  scale: 1 1;
}

.icon {
  font-size: 2rem;
  color: var(--bgHeader);
  transition: 0.75s ease;
  z-index: 2;
}

.item a:hover .icon {
  color: #fff;
  transform: rotate(360deg);
}

.item:nth-child(1) {
  --bg-color: #0077b5;
}
.item:nth-child(2) {
  --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(3) {
  --bg-color: #0077b5;
}
.item:nth-child(4) {
  --bg-color: #ff0000;
}

@media (max-width: 990px) {
  .footer-content {
    flex-direction: column;
    gap: 1.5rem;
  }
}
/*-------------------------------------------------------------*/
/* Change the border color */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline__trailing {
  border-color: var(--bgHeader) !important;
  transition: 0.3s;
}

/* Change the border width */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-width: 1.5px !important;
}

/* Change the border focused color */
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled
  ).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

/* Change the border hover color */
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
::ng-deep
  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(
    .mdc-text-field--focused
  ):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: var(--wave2) !important;
}

::ng-deep .mat-mdc-dialog-surface,
::ng-deep .mat-mdc-menu-panel,
::ng-deep .mat-mdc-select-panel.ng-trigger,
::ng-deep .mat-datepicker-content {
  background-color: var(--bg) !important;
  box-shadow: var(--border) 0px 0px 0px 1px !important;
  border-radius: 10px !important;
}

::ng-deep .cdk-overlay-pane {
  margin-top: 0.65rem !important;
}

::ng-deep .cdk-overlay-pane {
  direction: rtl !important;
}

::ng-deep .mdc-snackbar__surface,
::ng-deep .mat-mdc-snack-bar-label {
  background-color: brown !important;
  border-radius: 10px !important;
}

::ng-deep .snackbar-success .mdc-snackbar__surface,
::ng-deep .snackbar-success .mat-mdc-snack-bar-label {
  background-color: green !important;
}

::ng-deep .mat-mdc-snack-bar-actions .mdc-button__label,
::ng-deep .mat-mdc-snack-bar-label {
  color: white !important;
}

::ng-deep
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text,
::ng-deep .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: #4bb543 !important;
}

::ng-deep mat-label {
  color: var(--bgHeader) !important;
}

::ng-depp mat-error {
  color: red !important;
}

::ng-deep .mat-mdc-card {
  border-radius: 10px !important;
}

::ng-deep .mat-datepicker-toggle {
  color: var(--bgHeader) !important;
}

/* ::ng-deep .mat-mdc-row:hover {
  background-color: var(--active) !important;
  transition: 0.3s;
} */
