h5 {
  font-weight: 700;
}

.custom-expansion-panel {
  box-shadow: var(--border) 0px 0px 0px 1px !important;
  border-radius: 10px !important;
  width: 100%;
  background-color: var(--bg);
}

.custom-expansion-panel button {
  width: 100%;
}

.custom-checkbox-container {
  display: flex;
}

.custom-checkbox {
  display: inline-block;
  /* width: 49%; */
  padding-top: 0.75rem;
  padding-bottom: 2.25rem;
  background-color: rgba(204, 204, 204, 0.3);
  cursor: pointer;
  transition: 0.3s;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: rgba(var(--bgHeader), 0.75);
}

.custom-checkbox.checked {
  background-color: rgba(204, 204, 204, 0.7);
  border-bottom: 3px solid transparent;
  border-image: var(--btn) 1;
  color: var(--bgHeader);
}
.custom-checkbox span {
  font-size: 14px;
}

.content-file ::ng-deep .mdc-button__label {
  margin-left: auto;
}

.home-work-button {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  padding: 0.75rem 0;
  border-radius: 5px;
  transition: 0.3s;
  border-bottom: 3px solid transparent;
  border-image: var(--btn) 1;
  color: var(--bgHeader);
  text-align: center;
  background-color: rgba(204, 204, 204, 0.3);
}

.home-work-button:hover {
  color: var(--wave1);
}

.home-work-button:focus {
  outline: none;
}

.home-work-button a button {
  width: 100%;
}

.spinner {
  min-height: 90dvh;
}

.spinner ::ng-deep circle {
  stroke: var(--wave2);
}

::ng-deep .mdc-snackbar__surface,
::ng-deep .mat-mdc-snack-bar-label {
  background-color: brown !important;
  border-radius: 10px !important;
}

::ng-deep .snackbar-success .mdc-snackbar__surface,
::ng-deep .snackbar-success .mat-mdc-snack-bar-label {
  background-color: green !important;
}

::ng-deep .mat-mdc-snack-bar-actions .mdc-button__label,
::ng-deep .mat-mdc-snack-bar-label {
  color: white !important;
}

@media (min-width: 990px) {
  .accordion-section {
    margin-top: 2.5rem;
    flex-direction: column;
    width: 40%;
  }
}
@media (max-width: 990px) {
  section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .accordion-section {
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }
}
